.deps
.states
remix-tutorial/contracts/artifacts
web3js-tutorial/node_modules
web3js-tutorial/js
hardhat-tutorial/artifacts
hardhat-tutorial/cache
hardhat-tutorial/ignition/modules
test
web3js-tutorial/modules
hardhat-tutorial/.env
web3js-tutorial/.env
web3js-tutorial/package-lock.json